{% assign authors = item.author %}
{% assign directory = site.authors %}
{%- if authors -%}
    {%- if include.format == "list" -%}
    <ul class="{{ include.class }}">
        {%- for author in authors -%}
        <li class="nav-item mx-1 badge bg-secondary">
            by <a href="{{ directory[author].url | default: "#author" }}" class="text-reset btn-link">{{ directory[author].name }}</a>
        </li>
        {%- endfor -%}
    </ul>
    {%- else -%}
    {%- for author in authors limit: 1 -%}
    <div id="author">
        <h5>{{ directory[author].name }}</h5>
        {{ directory[author].content }}
    </div>
    {%- endfor -%}
    {%- endif -%}
{%- endif -%}