<div class="col mb-3">
    <div class="card text-dark bg-light h-100">
        <img src="{{ item.image | prepend: '/assets/images/' | absolute_url }}" class="card-img-top" alt="{{ item.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ item.date | date_to_string }}</h6>
            {% include category.html %}
            <p class="card-text">{{ item.excerpt | strip_html | truncatewords: 20 }}</p>
        </div>
        <div class="card-footer text-muted text-end">
            <a href="{{ item.url | absolute_url }}" class="btn btn-primary" title="Read {{ item.title }}">Read More</a>
        </div>
    </div>
</div>