{% if page.categories %}
    {% if include.format == nil %}
    <ul class="{{ include.class | default: "nav"}} py-1">
        {% for category in page.categories %}
            <li class="nav-item mx-1 badge bg-primary py-2">{{ category }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <div>
        <h5>Categories</h5>
        <ul class="d-grid p-0 pt-3">
            {% for category in page.categories %}
                <li class="btn btn-primary mb-1 text-start h5">{{ category }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endif %}