{% if item.categories %}
    {% if include.format == nil %}
    <ul class="{{ include.class | default: "nav"}} py-3">
        {% for category in item.categories %}
            <li class="nav-item mx-1 badge bg-primary">{{ category }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <div>
        <h5>Categories</h5>
        <ul class="nav nav-justified py-3">
            {% for category in item.categories %}
                <li class="nav-item btn btn-primary mb-1 text-start h5">
                    {{ category }}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endif %}