{%- assign menus = site.settings.menus | where: "location", "footer" -%}
{%- assign social = site.settings.social -%}

<footer id="footer" class="bg-light border-top text-muted pt-3">
    <div  class="container">
        <div id="footer-top"></div>
        <div id="footer-main" class="row">
            {% if social %}
            <!-- Social Media -->
            <div id="social" class="col-sm-12 col-lg-6">
                <h2 class="h5">Let's Connect</h2>
                <p>Follow us on your favorite platform</p>
                <div>
                    {% include social.html class="nav pb-3" %}
                </div>
            </div>
            {% endif %}
            {%- if menus -%}
            <!-- Links -->
            {%- for menu in menus -%}
            <div id="{{ menu.title | slugify }}" class="col-lg-3 col-sm-6">
                <h2 class="h5">{{ menu.title }}</h2>
                <div>
                    <ul class="nav flex-column pb-3">
                        {% for item in menu.links %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ item.link | absolute_url }}" title="about our {{ item.title }}">{{ item.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {%- endfor -%}
            {%- endif -%}
        </div>
        <div id="footer-bottom" class="row border-top py-3">
            <div id="copyright" class="col-sm-6">
                <p>Copyright &copy; {{ "now" | date: "%Y" }} - {{ site.authors.default.name | default: site.title }}</p>
            </div>
            <div id="disclaimer" class="col-sm-6 text-end d-none d-md-block">
                <a href="https://lydde.com">
                    <img src="{{ "/assets/lydde.png" | absolute_url }}"
                         alt="{{ site.authors.default.name | default: site.title }} is a subsidiary of LYDDE">
                </a>
            </div>
        </div>
    </div>
</footer>
