<header id="header">
    <!-- Social Network -->
    <span class="d-lg-none spacer">&nbsp;</span>
    <div id="header-top" class="d-none d-lg-block">
        {% include snippets/social.html %}
    </div>

    <!-- Site Menu -->
    <nav id="header-main" class="navbar navbar-expand-lg navbar-light">
        <div class="container border rounded bg-white p-2 shadow">
            <!-- Logo -->
            <div id="logo" class="border rounded bg-white shadow">
                <a href="{{ site.url }}" title="{{ site.title | escape }}">
                    <img src="{{ site.logo | absolute_url }}" width="100" alt="{{ site.title | escape }}">
                </a>
            </div>

            <!-- Responsive Toggle Button -->
            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarContent" 
                aria-controls="navbarContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation -->
            <div id="navbarContent" class="collapse navbar-collapse p-2 pt-5 p-lg-0">
                {% assign menus = site.data.navigation | where: "location", "header" %}
                {% if menus %}
                {% for menu in menus %}
                <!-- Site -->
                <div id="{{menu.title}}" class="me-auto">
                    <ul class="navbar-nav nav-pills">
                        {% for item in menu.links %}
                        <li class="nav-item">
                            <a class="nav-link{% if page.url == item.link %} active{% endif %} px-3" 
                            {% if page.url == item.link %}aria-current="page"{% endif %} 
                            href="{{ item.link | absolute_url }}">
                                {{ item.name | escape }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
                {% endif %}
                <hr />
            {% if site.data.network %}
                <!-- Network -->
                <div id="network">
                    <ul class="navbar-nav">
                        {% for item in site.data.network %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ item.link | absolute_url }}" title="{{ item.name }}">
                                {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                                {{item.name}}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div>
                    <ul class="navbar-nav">
                        <!-- Pages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Pages
                              </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownPages">
                                {% for item in site.pages %}
                                <li>
                                    <a class="dropdown-item" href="{{ item.url | absolute_url }}" title="{{ item.title }}">{{item.title}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <!-- Posts -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPosts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Posts
                                </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownPosts">
                                {% for item in site.posts %}
                                <li>
                                    <a class="dropdown-item" href="{{ item.url | absolute_url }}" title="{{ item.title }}">{{item.title}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <!-- Categories -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                              </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategories">
                                {% for item in site.categories %}
                                <li>
                                    <a class="dropdown-item" href="#" title="{{ item[0] }}">{{ item[0] }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <!-- Tags -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTags" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tags
                                </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownTags">
                                {% for item in site.tags %}
                                <li>
                                    <a class="dropdown-item" href="#" title="{{ item[0] }}">{{ item[0] }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            {% endif %}
                <hr />
                {% if site.data.social %}
                <!-- Social Network -->
                <div class="d-lg-none">
                    <h4>Follow us</h4>
                    <ul class="nav justify-content-center">
                        {% for item in site.data.social %}
                        <li class="nav-item border-bottom border-5 border-primary mx-1">
                            <a class="nav-link link-primary" href="{{ item.link }}" title="Follow us on {{ item.name | capitalize }}"><i class="fab fa-{{ item.name | downcase }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>