{% assign facebook = site.social | where: "name", "facebook" %}
{% assign twitter = site.social | where: "name", "twitter" %}
{% assign webmaster = site.settings.webmaster %}
{% assign description = page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape %}

<meta charset="utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1">

<!-- Page information -->
<title>{{ site.title }} | {{ page.title | default: site.tagline }}</title>
<meta property="og:title" content="{{ page.title | default: site.title }}" />
<meta property="twitter:title" content="{{ page.title | default: site.title }}" />
<meta property="og:site_name" content="{{ site.title }}">

<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}" />

<meta property="og:locale" content="{{ page.locale | default: site.settings.locale }}" />

<link type="text/plain" rel="author" href="{{ "/humans.txt" | absolute_url }}"/>

<meta name="author" content="{{ site.author.name }}">
{% if twitter.username %}
    <meta name="twitter:site" content="@{{ twitter.username | remove:'@' }}" />
    {% if page.author.twitter %}
    <meta name="twitter:creator" content="@{{ page.author.twitter | remove:'@' }}" />
    {% endif %}
{% endif %}

<link rel="canonical" href="{{ page.url | absolute_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}" />

<!-- Style -->
<link rel="stylesheet" type="text/css" href="{{ "/assets/styles/main.css" | absolute_url }}">

<!-- Search Engine & Analytics -->
{% if webmaster %}
    {% if webmaster.google %}
    <meta name="google-site-verification" content="{{ webmaster.google }}" />
    {% endif %}
    {% if webmaster.bing %}
    <meta name="msvalidate.01" content="{{ webmaster.bing }}" />
    {% endif %}
    {% if webmaster.alexa %}
    <meta name="alexaVerifyID" content="{{ webmaster.alexa }}" />
    {% endif %}
    {% if webmaster.yandex %}
    <meta name="yandex-verification" content="{{ webmaster.yandex }}" />
    {% endif %}
    {% if webmaster.baidu %}
    <meta name="baidu-site-verification" content="{{ webmaster.baidu }}" />
    {% endif %}
    {% if webmaster.facebook %}
    <meta name="facebook-domain-verification" content="{{ webmaster.facebook }}" />
    {% endif %}
{% endif %}

<!-- Browser Config -->
<link rel="manifest" href="{{ "/site.webmanifest" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/browserconfig.xml" | absolute_url }}" />
{% assign iconPath = "/assets/icons/" %}
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | prepend: iconPath | absolute_url }}">
<link rel="icon" type="image/png" href="{{ "/assets/icons/favicon.png" | aboslute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icons/favicon-32x32.png" | aboslute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icons/favicon-16x16.png" | aboslute_url }}">
<link rel="shortcut icon" href="{{ "/assets/icons/favicon.ico" | absolute_url }}">
<link type="image/png" rel="apple-touch-icon" href="{{ "/assets/icons/apple-touch-icon-180x180.png" | absolute_url }}" sizes="180x180">
<link rel="mask-icon" type="image/svg+xml" href="{{ "/assets/icons/safari-pinned-tab.svg" | absolute_url }}" color="{{ site.settings.theme.color.primary }}">
<link type="image/png" rel="icon" href="{{ "/assets/icons/apple-touch-icon-76x76.png" | absolute_url }}" sizes="76x76">

<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-TileColor" content="{{ site.settings.theme.color.primary }}">
<meta name="theme-color" content="{{ site.settings.theme.color.primary }}">

<!-- Open Graph -->
{% if page.layout == "home" %}
    <meta property="og:type" content="website" />
{% else %}
    <meta property="og:type" content="article" />
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    <meta property="article:modified_time" content="{{ "now" | date_to_xmlschema }}" />
    {% endif %}
    {% if facebook.link %}
    <meta property="article:publisher" content="{{ facebook.link }}" />
    {% endif %}
    {% if page.author %}
    <meta property="article:author" content="{{ author.page }}" />
    {% endif %}
{% endif %}

{% assign image = page.image %}
{% if image %}
    <meta property="og:image" content="{{ page.image | prepend: site.settings.resources.images | absolute_url }}" />
    <meta property="twitter:image" content="{{ page.image | prepend: site.settings.resources.images | absolute_url }}" />
    <meta name="twitter:card" content="{{ page.twitter.card | default: twitter.card | default: "summary_large_image" }}" />
    {% if image.height %}
    <meta property="og:image:height" content="{{ image.height }}" />
    {% endif %}
    {% if image.width %}
    <meta property="og:image:width" content="{{ image.width }}" />
    {% endif %}
    {% if image.alt %}
    <meta property="og:image:alt" content="{{ image.alt }}" />
    <meta name="twitter:image:alt" content="{{ image.alt }}" />
    {% endif %}
{% else %}
    <meta name="twitter:card" content="summary" />
{% endif %}


<script type="application/ld+json">
  {{ facebook | jsonify }}
</script>


{% if page.apple %}
<!-- Apps Store -->
<meta name="apple-itunes-app" content="app-id=APP_ID,app-argument=SOME_TEXT">
{% endif %}