
<section id="hero" class="position-relative{% if layout.splash or page.splash %} vh-100{% endif %}">
{%- if page.trailer -%}
    <video autoplay muted loop poster="{{ page.image | absolute_url }}" class="background">
        <source src="{{ page.trailer | absolute_url }}" type="video/mp4">
    </video>
{%- elsif page.image -%}
    <picture>
        <source srcset="{{ page.image | absolute_url }}">
        <img src="{{ page.image | absolute_url }}" alt="{{ page.title | escape }}" class="background">
    </picture>
{%- else -%}
    <span class="background placeholder bg-secondary"></span>
{%- endif -%}

    <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="display-1">{{ page.title | default: site.title | default: "Welcome to Symphony theme" | escape }}</h1>
                <p class="lead">{{ page.excerpt | default: "Review our documentation to fix issue" | strip_html | escape }}</p>
            </div>
            {% if page.action %}
            <div class="col-4 text-center">
                <button type="button" class="btn btn-primary btn-lg">Primary</button>
            </div>
            {% endif %}
        </div>
    </div>
</section>