<section id="hero" class="position-relative{% if layout.splash or page.splash %} vh-100{% endif %}">
    {% if page.trailer %}
    <video autoplay muted loop poster="{{ page.image | prepend: '/assets/images/' | absolute_url }}" class="background">
        <source src="{{ page.trailer | prepend: '/assets/video/' | absolute_url }}" type="video/mp4">
    </video>
    {% elsif page.image %}
    <picture>
        <source srcset="{{ page.image | prepend: '/assets/images/' | absolute_url }}">
        <img src="{{ page.image | prepend: '/assets/images/' | absolute_url }}" alt="{{ page.title | escape }}" class="background">
    </picture>
    {% else %}
    <span class="background placeholder bg-secondary"></span>
    {% endif %}

    <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="display-1">
                    {% if page.title %}
                        {{ page.title | escape }}
                    {% elsif site.title %}
                        {{ site.title | escape }}
                    {% else %}
                        Welcome to Symphony theme
                    {% endif %}
                </h1>
                <p class="lead">
                    {% if page.excerpt %}
                        {{ page.excerpt | strip_html | escape }}
                    {% elsif site.description %}
                        {{ site.description | escape }}
                    {% else %}
                        Review our documentation to fix issue
                    {% endif %}
                </p>
            </div>
            {% if page.action %}
            <div class="col-4 text-center">
                <button type="button" class="btn btn-primary btn-lg">Primary</button>
            </div>
            {% endif %}
        </div>
    </div>
</section>