<section class="hero position-relative{% if layout.splash %} vh-100{% endif %}">
    {% if page.trailer %}
    <video autoplay muted loop poster="{{ page.image | absolute_url }}" class="background">
        <source src="{{ page.trailer }}" type="video/mp4">
    </video>
    {% elsif page.image %}
    <picture>
        <source srcset="{{ page.image | absolute_url }}">
        <img src="{{ page.image | absolute_url }}" alt="{{ page.title | escape }}" class="background">
    </picture>
    {% else %}
    <span class="background placeholder bg-secondary"></span>
    {% endif %}

    <div class="container position-absolute top-50 start-50 translate-middle">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="display-1">
                    {% if page.title %}
                    {{ page.title | escape }}
                    {% else %}
                    {{ site.title | escape }}
                    {% endif %}
                </h1>
                <p class="lead">
                    {% if page.excerpt %}
                    {{ page.excerpt | escape }}
                    {% else %}
                    {{ site.description | escape }}
                    {% endif %}
                </p>
            </div>
            {% if page.action %}
            <div class="col-4 text-center">
                <button type="button" class="btn btn-primary btn-lg">Primary</button>
            </div>
            {% endif %}
        </div>
    </div>
</section>