<div id="meta" class="border-bottom py-3 mb-3 row">
{% if post %}
{% assign temp = post %}
{% else %}
{% assign temp = page %}
{% endif %}
    <div class="col">
        <ul class="nav">
        {% if temp.author %}
            <li class="nav-item mx-1 badge bg-secondary">
                by <a href="{{ author.url }}" class="text-reset btn-link">{{ author }}</a>
            </li>
        {% endif %}
        {% if temp.date %}
            <li class="nav-item mx-3 badge bg-secondary">
                <i class="far fa-calendar"></i>
                {{ page.date | date_to_string }}
            </li>
        {% endif %}
        
            <li class="nav-item mx-1 badge bg-secondary">
                <i class="far fa-clock"></i>
                {% capture words %}
                {{ content | number_of_words | minus: 180 }}
                {% endcapture %}
                {% unless words contains '-' %}
                {{ words | plus: 150 | divided_by: 150 | append: ' min read' }}
                {% endunless %}
            </li>
        </ul>
    </div>
    {% if temp.categories %}
    <div class="col">
        <ul id="categories" class="nav justify-content-end">
        {% for category in temp.categories %}
            <li class="nav-item mx-3 badge bg-primary">{{ category }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
