<div id="meta" class="border-bottom py-3 mb-3">
{% if post %}
    {% assign categories = post.categories %}
{% else %}
    {% assign categories = page.categories %}
{% endif %}
{% if categories %}
    <ul id="categories" class="nav">
    {% for category in categories %}
        <li class="nav-item mx-3 badge bg-primary">{{ category | first }}</li>
    {% endfor %}
    </ul>
{% endif %}


    <ul class="nav justify-content-end">
    {% if post %}
        {% assign author = post.author %}
    {% else %}
        {% assign author = page.author %}
    {% endif %}
    {% if author %}
        <li class="nav-item mx-3 badge bg-secondary">
            by <a href="{{ author.url }}" class="text-reset btn-link">{{ author.name }}</a>
        </li>
    {% endif %}
    {% if page.date %}
        <li class="nav-item mx-3 badge bg-secondary">
            <i class="far fa-calendar"></i>
            {{ page.date | date_to_string }}
        </li>
    {% endif %}
       
        <li class="nav-item mx-3 badge bg-secondary">
            <i class="far fa-clock"></i>
            {% capture words %}
            {{ content | number_of_words | minus: 180 }}
            {% endcapture %}
            {% unless words contains '-' %}
            {{ words | plus: 150 | divided_by: 150 | append: ' min read' }}
            {% endunless %}
        </li>
    </ul>
</div>
