{%- assign social = site.settings.share | default: site.data.settings.share -%}
{%- if social.size > 0 -%}
<div id="share" class="border-top py-3 my-3">
    <p class="h6 text-center">Share (for immortality)</p>
    <div>
        <ul class="nav justify-content-center">
        {% for item in social %}
        {%- assign key = item | first -%}
        {% if social[key].share %}
            <li class="nav-item border-bottom border-5 border-primary mx-1">
                <a 
                    class="nav-link link-primary" 
                    href="{{ social[key].share }}{{ page.url | absolute_url }}" 
                    aria-label="{{ key }}" 
                    rel="noopener" 
                    title="Share {{ page.title }} on {{ social[key].title | default: key | capitalize }}">
                        <i class="fab fa-{{ key | downcase }}"></i>
                </a>
            </li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
{%- endif -%}