<div id="share">
    <span>Share (for immortality)</span>
    <div>
        <a 
            href="https://www.facebook.com/sharer/sharer.php?u={{page.url}}" 
            data-network="facebook" 
            aria-label="Facebook" 
            rel="noopener">
            <span class="ct-icon-container"><i class="fab fa-facebook"></i></span>
        </a>
        <a 
            href="https://twitter.com/share?url={{page.url}}" 
            data-network="twitter" 
            aria-label="Twitter" 
            rel="noopener">
            <span class="ct-icon-container"></span>
        </a>
        <a 
            href="https://www.linkedin.com/shareArticle?url={{page.url}}" 
            data-network="linkedin" 
            aria-label="LinkedIn" 
            rel="noopener">
            <span class="ct-icon-container"></span>
        </a>
    </div>
</div>