<div id="share">
    <p class="h6 text-center">Share (for immortality)</p>
    <div>
        <ul class="nav justify-content-center">
        {% for item in site.data.social %}
        {% if item.share %}
            <li class="nav-item border-bottom border-5 border-primary mx-1">
                <a 
                    class="nav-link link-primary" 
                    href="{{ item.share }}{{page.url | absolute_url }}" 
                    aria-label="{{item.name}}" 
                    rel="noopener" 
                    title="Share {{ page.title }} on {{ item.name | capitalize }}">
                        <i class="fab fa-{{ item.name | downcase }}"></i>
                </a>
            </li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>