/*
 * YAKA Play (https://play.yaka.games)
 * Copyright 2011-2021 YAKA Game Studio
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 */
 body
 {
     font-family:'Basic', sans-serif;
 }
 h1
 {
     font-family: 'Jockey One', sans-serif;
 }

 /*
   Header
 */
 #header
 {
   position: absolute;
   width: 100%;
   z-index: 999;
 }
 #logo
 {
   position: absolute;
   left: 50%;
   top:0;
   transform: translate(-50%, -15%);
 }
 #header-top
 {
   background:rgba(255, 255, 255, 0.5);
 }
 
 /*
   Hero
 */
 
 #hero 
 {
   overflow: hidden;
   z-index: 0;
   height: 640px;
 }
 
 #hero > div
 {
   z-index: 2;
   background:rgba(255, 255, 255, 0.8);
   padding:5rem;
   border:1px solid rgba(255, 255, 255, 0.1);
   border-radius:5px;
 }
 #hero .background 
 {
   z-index: 1;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   opacity:0.8;
 }
 
 img.blur {
   -webkit-filter: blur(4px);
   filter: blur(4px);
   filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
 }

 /*
 Back to To
 */
 #back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}