// 
// YAKA Symphony Theme variables
//

//
// Color system
//

$primary: #6f42c1;
$secondary: #ffc107;

//
// Icons
//

$fa-font-path: "../fonts";

//
// Fonts
//

$web-font-path: "https://fonts.googleapis.com/css2?family=Basic&family=Jockey+One&display=swap";
@import url($web-font-path);