// 
// YAKA Symphony Theme variables
//

//
// Color system
//

$primary: $purple;
$secondary: $yellow;

//
// Icons
//

$fa-font-path: "/assets/fonts";

//
// Fonts
//

$web-font-path: "https://fonts.googleapis.com/css2?family=Basic&display=swap";
@import url($web-font-path);