// 
// YAKA Symphony Theme variables
//

//
// Color system
//
{%- if site.settings.theme.color.primary -%}
$primary:  "{{ site.settings.theme.color.primary }}";
{%- endif -%}
{%- if site.settings.theme.color.secondary -%}
$secondary:  "{{ site.settings.theme.color.secondary }}";
{%- endif -%}
{%- if site.settings.theme.color.background -%}
$body-bg: "{{ site.settings.theme.color.background }}",
{%- endif -%}


//
// Icons
//

$fa-font-path: "../fonts";

//
// Fonts
//

$web-font-path: "https://fonts.googleapis.com/css2?family=Basic&family=Jockey+One&display=swap";
@import url($web-font-path);