

            <div id="{{ menu.title | slugify }}" class="col-lg-3 col-sm-6">
                <h2 class="h5">{{ menu.title }}</h2>
                <div>
                    <ul class="nav flex-column pb-3">
                        {% for item in menu.links %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ item.link | absolute_url }}" title="about our {{ item.title }}">{{ item.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>




                <div id="{{ menu.title | slugify }}" {% if menu.position == "left" %}class="me-auto"{% endif %}>
                    <ul class="navbar-nav nav-pills">
                        {% for item in menu.links %}
                        <li class="nav-item">
                            <a class="nav-link px-3{%- if page.url == item.link -%} active{%- endif -%}" 
                            {%- if page.url == item.link -%}aria-current="page"{%- endif -%} 
                            href="{{ item.link | absolute_url }}" 
                            title="{{ item.title }}">
                            {%- if item.icon -%}<i class="{{ item.icon }}"></i>{%- endif -%}{{ item.title | escape }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>


                <div id="{{ menu.title | slugify }}" class="{{ }}">
                    <ul class="navbar-nav nav-pills">
                        {% for item in menu.links %}
                        <li class="nav-item">
                            <a class="nav-link px-3{%- if page.url == item.link -%} active{%- endif -%}" 
                            {%- if page.url == item.link -%}aria-current="page"{%- endif -%} 
                            href="{{ item.link | absolute_url }}" 
                            title="{{ item.title }}">
                            {%- if item.icon -%}<i class="{{ item.icon }}"></i>{%- endif -%}{{ item.title | escape }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>