---
layout: default
---
<!-- Content -->
<main class="p-3" aria-label="Content">
  <section class="row">
    {% for post in site.posts %}
      <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="{{ post.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.excerpt }}</p>
              <a href="{{ post.url }}" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
    {% endfor %}
  </section>
  
  <section class="row">
    {% for page in site.pages %}
      <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="{{ page.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ page.title }}</h5>
              <p class="card-text">{{ page.excerpt }}</p>
              <a href="{{ page.url }}" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
    {% endfor %}
  </section>
</main>


