{% assign imagePath = site.settings.resources.images | default: "/assets/images/"%}
{% assign videoPath = site.settings.resources.videos | default: "/assets/videos/"%}
<!doctype html>
<html lang="{{ page.language | default: site.settings.language | default: "en" }}">
    <head>
        {%- include head.html -%}
    </head>
    <body class="bg-light">
        <!-- Header -->
        {%- include header.html -%}
        <!-- Hero -->
        {% include hero.html %}
        <!-- Content -->
        <main aria-label="content" class="container">
            {{ content }}
        </main>
        <!-- Footer -->
        {%- include footer.html -%}
        <!-- Scripts -->
        {%- include scripts.html -%}
    </body>
</html>
