<!doctype html>
<html lang="{{ page.language | default: site.settings.language | default: "en" }}">
    <head>
        {%- include layouts/head.html -%}
    </head>
    <body class="bg-light">
        <!-- Header -->
        {%- include layouts/header.html -%}
        <!-- Hero -->
        {% include layouts/hero.html %}
        <!-- Content -->
        <main aria-label="content" class="container">
            {{ content }}
        </main>
        <!-- Footer -->
        {%- include layouts/footer.html -%}
        <!-- Scripts -->
        {%- include layouts/scripts.html -%}
    </body>
</html>
