<!doctype html>
<html lang="{{ page.language | default: site.language | default: "en" }}">
    <head>
        {%- include head.html -%}
    </head>
    <body>
        <a href="#main-content" class="visually-hidden">Skip to main content</a>
        <!-- Header -->
        {%- include header.html -%}
        <!-- Hero -->
        {% include hero.html %}
        <!-- Content -->
        <div class="container">
            {{ content }}
        </div>
        <button type="button" id="back-to-top" title="Back to top" href="#" class="btn btn-lg btn-outline-primary" style="display: none;"><i class="fas fa-rocket"></i></button>
        <!-- Footer -->
        {%- include footer.html -%}
        <!-- Scripts -->
        {%- include scripts.html -%}
    </body>
</html>
