---
layout: default
---

{% assign item = page %}
<div class="row p-3">
    <article class="col-lg-9 mb-2 mb-sm-0 pb-sm-5">
        <header>
            <div class="border-bottom py-3 mb-3 row">
                <div class="col-12 col-sm-6">
                    {% include info.html %}
                </div>
                <div class="col">
                    {% include author.html format="list" class="nav justify-content-end" %}
                </div>

            </div>
        </header>
        <section>
            <div>{{ content }}</div>
        </section>
        <footer>
            {%- include share.html -%}
            {%- include author.html -%}
        </footer>
    </article>
    <aside class="col-lg-3 pt-lg-5">
        <p>This site is open source. <a href="{% raw %}{% github_edit_link %}{% endraw %}">Improve this page</a></p>
        <div>
            <span class="h5">Categories</span>
            {% include categories.html class="nav" %}
        </div>
        {%- include tags.html -%}
    </aside>
</div>