---
layout: default
---
{% assign item = page %}
<div class="row p-3">
    <article class="col-lg-9 py-4 mb-2 mb-sm-0 pb-sm-5">
        <header>
            <div class="border-bottom py-3 mb-3 row">
                <div class="col">
                    <ul class="nav">
                        <li id="reading" class="nav-item mx-1 badge bg-secondary">
                            <i class="far fa-clock"></i>
                            {% capture words %}
                            {{ content | number_of_words | minus: 180 }}
                            {% endcapture %}
                            {% unless words contains '-' %}
                            {{ words | plus: 150 | divided_by: 150 | append: ' min read' }}
                            {% endunless %}
                        </li>
                        {%- assign myDate = page.date | default: "now" | date_to_xmlschema -%}
                        <li id="date" class="nav-item mx-1 badge bg-secondary">
                            <i class="far fa-calendar"></i>&nbsp;<time datetime="{{ myDate }}">{{ myDate | date_to_string }}</time>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    {% include author.html format="list" class="nav justify-content-end" %}
                </div>

            </div>
        </header>
        <section>
            <div>{{ content }}</div>
        </section>
        <footer>
            {%- include share.html -%}
            {%- include author.html -%}
        </footer>
    </article>
    <aside class="col-lg-3 pt-lg-5">
        <div>
            <span class="h5">Categories</span>
            {% include categories.html class="nav" %}
        </div>
        <div>
            <span>Tags</span>
            {%- include tags.html -%}
        </div>
    </aside>
</div>