---
layout: default
---
{% assign item = page %}
<article class="p-3">
    <header>
        <div class="border-bottom py-3 mb-3 row">
            <div class="col">
                <ul class="nav">
                    <li id="reading" class="nav-item mx-1 badge bg-secondary">
                        <i class="far fa-clock"></i>
                        {% capture words %}
                        {{ content | number_of_words | minus: 180 }}
                        {% endcapture %}
                        {% unless words contains '-' %}
                        {{ words | plus: 150 | divided_by: 150 | append: ' min read' }}
                        {% endunless %}
                    </li>
                    {%- assign myDate = page.date | default: "now" | date_to_xmlschema -%}
                    <li id="date" class="nav-item mx-1 badge bg-secondary">
                        <i class="far fa-calendar"></i> <time datetime="{{ myDate }}">{{ myDate | date_to_string }}</time>
                    </li>
                </ul>
            </div>
            <div class="col">
                {% include author.html format="list" %}
            </div>
            <div class="col">
                {% include categories.html class="nav justify-content-end" %}
            </div>
        </div>
    </header>
    <section>
        <div>{{ content }}</div>
        {%- include tags.html -%}
    </section>
    <footer>
        {%- include share.html -%}
        {%- include author.html -%}
    </footer>
</article>
<aside>
    {%- include tags.html -%}
</aside>