---
layout: page
---
<ul class="row row-cols-4 nav">
    {% for tag in site.tags %}
    <a href="#{{tag | first | slugify }}" class="nav-item mb-1">
    <li class="d-flex justify-content-between align-items-center bg-warning-soft rounded p-2 position-relative btn btn-outline-primary">{{ tag | first | capitalize }}<span class="badge bg-primary rounded-pill">{{ tag.last.size }}</span></li>
    </a>
    {% endfor %}
</ul>

{% for tag in site.tags %}
<article>
    <h3 id="{{ tag | first | slugify }}" class="border-bottom py-2 mb-3">{{ tag | first | capitalize }}</h3>
    <div class="row row-cols-1 row-cols-md-3">
        {% for item in tag.last %}
        {% include card.html %}
        {% endfor %}
    </div>
</article>
{% endfor %}