<div class="card text-dark bg-light h-100">
    <img src="{{ page.image | absolute_url }}" class="card-img-top" alt="{{ page.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ page.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ page.date | date_to_string }}</h6>
        <p class="card-text">{{ page.excerpt | strip_html | truncatewords: 20 }}</p>
        {% if page.categories %}
        <div>
            <ul id="categories" class="nav">
            {% for category in page.categories %}
                <li class="nav-item mx-1 badge bg-primary">{{ category }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="card-footer text-muted text-end">
        <a href="{{ page.url | absolute_url }}" class="btn btn-primary" title="Read {{ page.title }}">Read More</a>
    </div>
</div>