{% assign menus = site.settings.menus | where: "location", "header" %}

<header id="header">
    <div id="header-top">
        <div class="d-lg-none spacer">&nbsp;</div>
        <div class="d-none d-lg-block">
        {%- if site.settings.social -%}
        <!-- Social Network -->
        {% include snippets/social.html class="nav justify-content-end" %}
        {%- endif -%}
        </div>
    </div>

    <!-- Site Menu -->
    <nav id="header-main" class="navbar navbar-expand-lg navbar-light">
        <div class="container border rounded bg-white p-2 shadow">
            <!-- Logo -->
            <div id="logo" class="border rounded bg-white shadow">
                <a href="{{ "/" | absolute_url }}" title="{{ site.title | escape }}" rel="author">
                    <img src="{{ site.logo | default: "/assets/logo.png" | absolute_url }}" width="100" alt="{{ site.title | escape }}">
                </a>
            </div>

            <!-- Responsive Toggle Button -->
            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarContent" 
                aria-controls="navbarContent" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation -->
            <div id="navbarContent" class="collapse navbar-collapse p-2 pt-5 p-lg-0">
            {% if menus %}
                {% for menu in menus %}
                <!-- Site -->
                <div id="{{ menu.title | slugify }}" {% if menu.position == "left" %}class="me-auto"{% endif %}>
                    <ul class="navbar-nav nav-pills">
                        {% for item in menu.links %}
                        <li class="nav-item">
                            <a class="nav-link px-3{%- if page.url == item.link -%} active{%- endif -%}" 
                            {%- if page.url == item.link -%}aria-current="page"{%- endif -%} 
                            href="{{ item.link | absolute_url }}" 
                            title="{{ item.title }}">
                            {%- if item.icon -%}<i class="{{ item.icon }}"></i>{%- endif -%}{{ item.title | escape }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr />
                {% endfor %}
            {% else %}
                <!-- Default Navigation -->
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="{{ "/" | absolute_url }}" title="Home">Home</a>
                    </li>
                {%- assign paths = site.pages | map: "path" -%}
                {%- for path in paths -%}
                {%- assign item = site.pages | where: "path", path | first -%}
                {%- if item.title and item.path contains "resources/pages" -%}
                    <li>
                        <a class="nav-link" href="{{ item.url | absolute_url }}" title="{{ item.title }}">{{item.title}}</a>
                    </li>
                {%- endif -%}
                {%- endfor -%}
                </ul>
                <hr />
            {% endif %}
            {%- if site.settings.social -%}
                <!-- Social Network -->
                <div class="d-lg-none">
                    <h4>Follow us</h4>
                    {% include snippets/social.html class="nav justify-content-center" %}
                </div>
            {%- endif -%}
            </div>
        </div>
    </nav>
</header>